<div class="todos">
  <label for="new-todo-item">New todo:</label>
  <input id="new-todo" maxlength="300" #todoName />
  <button class="add-button" (click)="add(todoName.value); todoName.value = ''">
    Add
  </button>

  <ul class="todo-list">
    <li *ngFor="let todo of todos">
      <span>{{ todo.name }}</span>
      <div>
        <button class="edit" title="Edit details" (click)="edit()">Edit</button>
        <button class="checked" title="Mark as done" (click)="markDone()">
          Done
        </button>
        <button class="delete" title="Delete" (click)="delete()">X</button>
      </div>
    </li>
  </ul>
</div>

<app-edit-todo *ngIf="isVisible"></app-edit-todo>
