#edit-todo {
  width: 50%;
  float: right;
}

.edit-field {
  width: 20rem;
  height: 1.2rem;
}

button {
  width: 10%;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 6px;
  font: inherit;
}

button.confirm {
  background-color: green;
  color: white;
}

button.cancel {
  background-color: red;
  color: white;
}

button:hover {
  font-weight: bold;
}
